.container-advantages{
    display: flex;
    flex-direction: column;
    font-family: Founders Grotesk XCondensed, sans-serif;
}

.photo{
    max-width: 600px;
}

.box-name-logist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-advantages{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-advantages1{
    background: #1e4870;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 20px;
    margin-top: 20px;
}

.photo-logist-page{
    max-width: 500px;
    border-radius: 12px;
}

.top{
    text-align: justify;
    max-width: 400px;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 600;
}

.container-box-advantages{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (max-width: 931px) {
   .box-advantages1{
       flex-direction: column-reverse;
       align-content: center;
   }
}

@media (max-width: 603px){
    .box-name-logist{
        display: none;
    }
}

.advise{
    /*width: 80%;*/
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

.link1{
    cursor: pointer;
}

.box-advantages2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box-advantages-of-fopip{
    max-width: 400px;
    background: #FFFFFF;
    padding: 10px;
    min-height: 142px;
    border-radius: 10px;
}

.box-advantages-of-fopip1{
    max-width: 400px;
    background: #FFFFFF;
    padding: 10px;
    min-height: 101px;
    border-radius: 10px;
}

.name-advantage{
    font-weight: 600;
}

@media (max-width: 400px){
    .top{
    font-size: 1rem;
        padding: 10px;
}
}

.box-advantage-cluster{
    display: flex;
    flex-direction: column;
    align-items: center;
}